<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importamos los recursos-->
    {{>head}}

    <title>{{title}}</title>
</head>
<body>
    <header>
        {{>navbar}}
    </header>
    <article>
        <section id="slider_image">
            <div>
                {{>carrusel}}
            </div>
        </section>
                {{>seccionvideos}}
        <section>
            <div class="container">
                <br><br><br><br><br><br><br><br><br><br><br><br>
                
            </div>
        </section>
        <section>
        </section>
    </article>
    <footer>
        {{>footer}}
    </footer>
    

</body>
</html>