<div class="row">
    <div class='col-0'>

    </div>
    <div class='col-12 container-fluid'>
        <p class='title_section'>
            <br>
            Descubra lo más relevante de STEA México
        </p>
    </div>
</div>
<div  id='contenedor' class="row">
    <div class='col-sm-12 col-md-6 col-lg-4'>
        <div class="container video-responsive">
            <iframe id='lad-izquierdo' src="https://www.youtube.com/embed/U-pXoW5DVl8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-4'>
        <div class='container video-responsive'>
            <iframe id = 'cental 'src="https://www.youtube.com/embed/G5jvOshg_7s" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>
    </div>
    <div class="col-md-3 d-none d-md-block d-lg-none" >
        <p></p>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-4 '>
        <div class='container video-responsive'>
            <iframe id='lad-derecho' src="https://www.youtube.com/embed/80Gd5HH4bBw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>
    </div>
    <div class="col-md-3 d-none d-md-block d-lg-none">
        <p></p>
    </div>
    
</div>